.error-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #ff6060;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.error-content h1 {
  box-sizing: border-box;
  font-size: 288px;
  font-weight: 700;
  margin: 65px 0 0 0;

  @media screen and (max-width: 764px) {
    font-size: 96px;
  }
}

.error-content p {
  font-size: 36px;
  margin-top: 65px;

  @media screen and (max-width: 764px) {
    font-size: 18px;
    text-align: center;
  }
}

.link-home {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-top: 65px;
  margin-bottom: 65px;

  @media screen and (max-width: 764px) {
    font-size: 14px;
  }
}
