.logement-menu {
  max-width: 1240px;
  background-color: #f6f6f6;
  margin: 0 auto;
  border-radius: 25px;

  @media screen and (max-width: 1240px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  // On imbrique le style des elements descendant comme en html (Nesting)
  .grid-cards {
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    padding: 43px 3.47% 43px 3.47%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;

    // on imbrique le media query directement dans l'element

    @media screen and (max-width: 1420px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* change par 2 cartes par lignes */
    }
    @media screen and (max-width: 764px) {
      grid-template-columns: minmax(0, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      /* change par 1 cartes par lignes */
    }
  }
}
