/* Default styles */
.logements-cards {
  width: 100%;
  border-radius: 10px;
  background-color: #f15b5b;
  height: 360px;
  position: relative;
  overflow: hidden;
}
.card-cover {
  width: 100%;
  height: 100%;
}
.logements-cards img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
