.logement-tags {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 22px;
  line-height: 25px;
  color: #ffffff;
}

.logement-tags-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
